:root {
  --color-gfi-primary: #003366;
  --color-gfi-secondary: #ffc72c;
  --color-gfi-dark: #0a192f;
  --color-gfi-light: #f8f9fa;
  font-family: 'Inter', sans-serif;
  color: #0f172a;
  background-color: var(--color-gfi-light);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gfi-light);
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
